body{
    color:black;
}

.Kolkatabiryani{
    font-family:sans-serif ;
    background-color:pink;

}
.Memonibiryani{
    background-color:rgb(208, 168, 175);

}
.Sindhibiryani{
    background-color:rgb(181, 117, 127);

}
