body{
    color:black;
}

.biryani-kolkata{
    font-family:sans-serif ;
    background-color:pink;

}
.biryani-malabar{
    background-color:rgb(208, 168, 175);

}
.biryani-sindhi{
    background-color:rgb(181, 117, 127);

}
